
table {
  width: 100%;
  margin-right: 50%;

}

.mat-column-nome {
  width: 25%;
  text-align-last: center;
}

.mat-column-valor {
  width: 25%;
  text-align-last: center;

}

.mat-column-fornecedor {
  width: 25%;
  text-align-last: center;
}

.mat-column-acoes {
  width: 25%;
  text-align-last: center;
}

.button-delete{
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  margin-right: 8px;
}



